.card{
    width: 100%;
    height: 0px;
    padding-top: 100%;
    background-color: var(--blue);
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1280px) {
    .card{
        background-color: var(--blue);
    }
}