/* Стилизация аккордеона */
.accordion{
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
  }

  .accordion__item{
      box-sizing: border-box;
      position: relative;
      background: var(--white);
      border: 1px solid var(--grey-3);
      border-radius: 8px;
      width: 50%;
      min-height: 72px;
      margin-bottom: 8px;
      padding-left: 32px;
      padding-right: 32px; 
  }

  .accordion__item[open] .accordion__icon{
    top:32px;
    transform: translate(calc(-100%), -50%) rotate(180deg);
  }
  .accordion__icon{
    width:18px;
    height:10px;
    position: absolute;
    color: var(--grey-4);
    top:50%;
    left: calc(100% - 32px);
    transform: translate(calc(-100%), -50%);
  }

  .accordion__item:last-child{
    margin-bottom: 0px;
  }
  .accordion__summary{
      display: block;
      outline: none;
      padding-top: 24px;
      padding-bottom: 24px;
      color: var(--black);
  }
  .accordion__description{
      padding-bottom: 32px;
      color: var( --grey-4);
      padding-right: 40px;
  }



.accordion__summary::-webkit-details-marker {
  display: none;
  list-style: none;
}




