@import '../fonts/fonts.css';
@import '../css/normalize.css';
@import '../../components/footer/footer.css';
@import '../../components/header/header.css';
@import '../../components/container/container.css';
@import '../../components/button/button.css';


:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue:  #4263EB; /*#374FC7;*/
    --blue-2:#334D6E;
    --blue-3: #A0B1F5;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #F9FAFC;
    --grey-6: #C4C4C4;
    --grey-7: #334D6E;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: var(--black);
    flex-grow: 1;

}

.page{
 display: flex;
 flex-direction: column;
 height:100%;
}

html, body{
height: 100%;
}
