.calendar{
    width: 100%;
    max-width: 300px;
    padding-top: 28px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    background: var(--white);
    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    font-family: Inter;

}

.calendar__header{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--blue-2);
    padding-bottom: 24px;


}

.calendar__item{
font-family: Source Sans Pro;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
color: var(--blue-2);
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.calendar__item_day{

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: var(--grey-6);
padding-bottom: 24px;

}

.calendar__outer-wrapper{
    position: relative;
    padding-bottom: 100%;
}

.calendar__inner-wrapper{
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    grid-template-rows: repeat(6, 1fr) auto;
    grid-template-columns: repeat(7, 1fr);

}

.calendar__item_chosen{
color: var(--white);
background-color: var(--blue);
}

.calendar__item_chosen-between{
    background-color: #A0B1F533;
    color: var(--blue-2);
    
}
