
.tooltip{
    display: inline-block;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--grey-2);
    position: relative;
}

.tooltip__bubble{
    white-space:nowrap;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 13px;
    padding-bottom: 8px;
    background: var(--blue);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;
    display: none;
    position: absolute;
    bottom: calc(100% + 8px);
    left:50%;
    transform: translateX(-50%);

}

.tooltip__bubble::after{
    content: "";
    position: absolute;
    border: 12px solid transparent;
    border-bottom: 8px solid var(--blue);    
    top:100%;
    left:50%;
    transform: rotate(180deg) translateX(50%);

}


.tooltip__icon{
    display:inline-block;
}
.tooltip__icon:hover{
    cursor: pointer;
}

.tooltip__icon:hover ~ .tooltip__bubble{
    display: inline-block;
}
